## Binaries ##
*.class

## IntelliJ project files  ##
*.iml
*.iws
*.ipr
.idea
out

## eclipse project file ##
.settings
.classpath
.project
build

## vim ##
*~
*.swp

## Gradle ##
.gradle
build/
gen/

## Mac-only ##
.DS_Store
